 <Title>
    도장 정보 | Jinmusa
 </Title>
 
 <head>
   <h1><%= @post.CourtName %> </h1>
 </head>
 
 <body>
   
      <p>
        <strong>사진:</strong>
       <% if @post.image !=nil %> 
       <%= image_tag @post.image %> 
       <% end %>
       
              <% if @post.file !=nil %> 

              <%= video_tag @post.file, :size => "320x240", :controls => true %>

        <% end %>
       
      </p>
    
      <p>
        <strong>이름:</strong>
      </p>
      
      <p>
        <strong>설명:</strong>
        
         
      </p>
      
      <p>
        <strong>전화번호:</strong>
      </p>

      <p>
        <strong>♡ 관심도장등록</strong>
      </p>
      
      <p>
        <strong>문의하기</strong>
      </p>
      
      <p>
        <strong>강사진 소개:</strong>
      </p>
      
        <p>
          <strong>시간표 및 요금:</strong>
        </p>


      <div class="map_wrap">
          <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
          <div class="hAddr">
              <strong><span class="title">도장 위치</span></strong>
              <span id="centerAddr"></span>
          </div>
      </div>

      <p>
        <strong>x:</strong>
        <%= @post.lat %>
      </p>
      
      <p>
        <strong>y:</strong>
        <%= @post.lng %>
      </p>

      


     
 </body>
 
<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Back', posts_path(:searchtext => "SearchText.text") %>