<!DOCTYPE html>
<html>
  <head>
    <title>Jinmusa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- 다음 카카오 지도 API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=32e566613f6d621e0b376e071944ad13&libraries=services,clusterer,drawing"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">


  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-dark  navbar-expand-sm bg-dark"  id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/grayscale/index">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#"><%=current_user.email%>님 반갑습니다.</a>
           </li>
             <li class="nav-item">
             <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link js-scroll-trigger" %>
            </li>
          <% else %>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/users/sign_in">로그인</a>
            </li>
          <% end %>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">진무사</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">도장보기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">연락처</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/homes/index">문의하기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/videos">동영상 보기</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/game/javascript_car">게임하기</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div class="mx-auto" style="width: 200px; Height: 60px;"> </div>
    <%= yield %>
  </body>


    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <!-- <script src="https://blackrockdigital.github.io/startbootstrap-grayscale/js/grayscale.min.js"></script> -->
    

    
</html>
